@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    #recentes{
        text-align: left;
    }
    #recentes img{
        margin: 10px;
        width: 200px;
        height: 150px;
        transition-duration: .3s;
    }
    #recentes img:hover{
        border-radius: 20px;
        box-shadow: 5px 5px 10px black;
        transform: translate(-1px,-10px);
        transition: transform .3s;
    }
}

@media screen and (min-width: 992px){
    span#hamb{
        display: none;
    }

    menu{
        display: block;
    }
    menu a{
       /* background-color: gray;*/
       background-color: black;
    }

    menu li{
        display:inline-block;
    }
    #itens{
       /* background-color: gray;*/
       background-color: black;
       border-top: 1.5px solid white;
       border-bottom: 1.5px solid white;
    }

    main{
        display: 768px;
    }
    #recentes{
        text-align: left;
    }
    #recentes img{
        margin: 10px;
        width: 200px;
        height: 150px;
        transition-duration: .3s;
    }
    #recentes img:hover{
        border-radius: 20px;
        box-shadow: 5px 5px 10px black;
        transform: translate(-1px,-10px);
        transition: transform .3s;
    }

    .conteiner h2{
        font-size: 26px;
    }

    #info h2{
        text-align: left;
    }
    #info p{
        text-align: justify;
    }

    #contato h2{
        text-align: center;
    }
    #contato p{
        text-align: justify;
    }
}