@charset "UTF-8";

@media screen and (min-width: 768px){
    span#hamb{
        display: none;
    }

    menu{
        display: block;
    }

    menu li{
        display:inline-block;
    }

    main{
        display: 768px;
    }
    #recentes{
        text-align: left;
    }
    #recentes img{
        margin: 10px;
        width: 200px;
        height: 150px;
        transition-duration: .3s;
    }
    #recentes img:hover{
        border-radius: 20px;
        width: 210px;
    }

    .conteiner h2{
        font-size: 26px;
    }
}