@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
:root{
    --fonte-3: 'Space Mono', monospace;
    --fonte-6: 'Silkscreen', cursive;
    --fonte-7: 'Ubuntu', sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.880);
    min-height: 100vh;
    min-width: 90vw;
}
header{
    background-image:url("../imagens/background.jpg");
    /*background-color: #1a3c3f;*/
    background-position: center;
    padding: 20px;
}
header h1{
    font-family: var(--fonte-6);
    background-color: #1a3c3f;
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 5px;
    margin-bottom: 5px;
}
header p{
    font-family: var(--fonte-3);
    background-color: #1a3c3f;
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    font-weight: bolder;
}
span#hamb{
    background-color: black;
    display: block;
    color: blue;
    text-align: center;
    padding: 10px;
    cursor: pointer; /*muda o ponteiro do mouse para mão*/
    border-top: 1.5px solid blue;
    border-bottom: 1.5px solid blue;
    font-size: 2em;
}
span#hamb:hover{
    color: white;
}
menu{
    display: none;
}

menu > ul{
    list-style-type: none; /*tira as bolinhas*/
}
#itens{
    /*background-color: rgba(0, 0, 0, 0.400);*/
    background-color: rgb(88, 88, 88);
    text-align: center;
    padding: 2px;
    font-size: 18px;
    margin-bottom: 10px;
    font-family:var(--fonte-6);
}
menu a{
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    /*background-color: gray;*/
    background-color: black;
    border-radius: 5px;
}
#itens li{
    margin-bottom: 5px;
}
#itens a{
    text-decoration: none;
    color: white;
    padding: 5px;
    transition-duration: .3s;
}
#itens a:hover{
    color:blue;
    text-decoration: underline;
}
#recentes{
    margin-top: 30px;
    text-align: center;
    color: white;
}
#recentes img{
    margin: 10px;
    width: 300px;
    height: 150px;
}
#recentes img:hover{
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    transform: translate(-1px,-10px);
    transition: transform .3s;
}
img{
    /*border: 2px solid white;*/
    width: 320px;
    height: 200px;
    margin-bottom: 10px;
}
#manga-livro{
    margin-top: 20px;
}
#manga-livro p{
    margin-bottom: 80px;
    font-size: 20px;
    color: white;
}
#manga-livro a{
    text-decoration: none;
    color: white;
}
#manga-livro a:hover{
    color: red;
    font-weight: bolder;
    text-decoration: underline;
}
main{
    font-family: var(--fonte-7);
    min-width: 320px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
}
#contato{
    border-radius: 10px;
    color: white;
}
#contato h2{
    font-size: 26px;
    padding: 5px;
    text-align: center;
}
#contato p{
    text-align: left;
    font-size: 24px;
    padding: 5px;
}
#copy h2{
    color: white;
    font-size: 26px;
}
#video{
    background-color: rgba(255, 255, 255, 0.050);
    margin: 0px -20px 30px -20px;
    padding: 15px;
    position: relative;
    padding-bottom: 56.5%;
}
#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
#capa{
    margin-top: 20px;
}
#capa h1{
    font-size: 28px;
    font-weight: bold;
    color: white;
}
#info{
    color: white;
    text-align: left;
}
#info h2{
    /*font-size: 24px;*/
    font-size: 26px;
}
#info p{
    /*font-size: 20px;*/
    font-size: 24px;
}
#download{
    text-align: left;
    color: white;
}
#download h2{
    font-size: 24px;
}
#download>ul li{
    list-style-type: none;
}
#download a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#download a:hover{
    color: red;
    font-weight: bolder;
    text-decoration: underline;
}
#dica{
    font-weight: bolder;
    color: red;
}



/*FORMATAÇÃO DO PÁGINA PESQUISAR*/
.conteiner{
    box-sizing: border-box;
    width: auto;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: black;
}
.conteiner h2{
    font-family: var(--fonte-6);
    border-radius: 15px;
    font-size: 20px;
    background-color: black;
    padding: 5px;
    color: white;
}
#books li{
    display: none; /*esconde o elemento*/
}
#nao-achado{
    display: none;
}
#nao-achado > p{
    text-align: center;
    margin: auto;
    border-radius: 20px;
    background-color: gray;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    padding: 10px;
    max-width: 320px;
}
#books img{
    width: 200px;
    height: 150px;
    border-radius: 20px;
}
#books a{
    color: white;
    font-size: 24px;
    text-decoration: none;
    display: block;
    padding: 5px;
    transition-duration: .3s;
}
#books a:hover{
    font-weight: bolder;
    color: red;
    text-decoration: underline;
}
#books li{
    list-style-type: none;
}
#pesquisa{
    width: 300px;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid black;
    margin-bottom: 10px;
}
#botao{
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}
#botao:hover{
    background-color: white;
}